body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f2f1f1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.clearboth{clear: both;}
.container {
    margin: 0 auto;
    width: 1000px;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
#top-nav {
    position: relative;
    background: #fff;
    height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
#top-nav .brand {
    background: url('images/logo.jpg') no-repeat top left;
    width: 107px;
    height: 36px;
    display: block;
    position: absolute;
    top: 11px;
    left: 15px;
}
#top-nav .main-nav {
    float: left;
    width: 100%;
}
.m-search{display: none;}
#top-nav .main-nav ul li {
    float: left;
}
#top-nav .main-nav ul li a {
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 58px;
    display: inline-block;
    margin-right: 45px;
    border-bottom: 2px solid #fff;
    padding: 0 5px;
}
#top-nav .main-nav ul li:hover a {
    color: #25af61;
    border-bottom: 2px solid #25af61;
}
#top-nav .main-nav ul .active a {
    color: #25af61;
    border-bottom: 2px solid #25af61;
}
#top-nav .socail-network {
    position: absolute;
    right: 50px;
    top: 17px;
}
#top-nav .socail-network ul li {
    float: left;
}
#top-nav .socail-network ul li a {
    font-size: 16px;
    margin-right: 10px;
}
#top-nav .socail-network ul li a i.fa-facebook {
    color: #2a75c3;
}
#top-nav .socail-network ul li a i.fa-twitter {
    color: #4aaced;
}
#top-nav .socail-network ul li a i.fa-google-plus {
    color: #ea4b49;
}
#top-nav .socail-network ul li a i.fa-rss {
    color: #f29a44;
}
#top-nav .socail-network ul li a i.fa-youtube {
    color: #e2482c;
}
.st-hot-news {
    margin: 10px 0;
}
.st-hot-news ul li {
    position: relative;
    float: left;
    margin-bottom: 4px;
}
.st-hot-news ul li:nth-child(1),
.st-hot-news ul li:nth-child(2) {
    margin-right: 5px;
}
.st-hot-news ul li:nth-child(5) {
    margin-left: 5px;
}
.st-hot-news ul li .img-gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 60%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.st-hot-news ul li a {
    position: relative;
    display: block;
    color: #fff;
}
.st-hot-news ul li a .description {
    width: 260px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10;
}
.st-hot-news ul li:first-child a .description {
    width: 360px;
    bottom: 25px;
}
.st-hot-news ul li:first-child a .description h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.st-hot-news ul li:first-child a .description span {
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
}
.st-hot-news ul li:first-child a .description span i {
    font-size: 15px;
    margin-right: 5px;
}
.st-hot-news ul li:hover .img-gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0;
}


.new-product {
    background: #fff;
    border-top: 3px solid #25af61;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
}
.new-product:before,
.new-product:after {
    content: " ";
    display: table;
}
.list_poll .title_poll{width:75%;line-height:17px}
.new-product:after {
    clear: both;
}
.new-product h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    text-indent: 25px;
}
.new-product .prev-product,
.new-product .next-product {
    font-size: 20px;
    color: #333333;
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color:#25AF61;
}
.new-product .next-product {
    right: 10px;
}
.new-product .prev-product {
    right: 30px;
}
.new-product ul {
    margin-left: 25px;
}
.new-product ul li {
    float: left;
    width: 32%;
}
.new-product ul li a {
    float: left;
    margin-right: 15px;
    border: 1px solid #f1f1f1;
}
.new-product ul li a:hover {
    border-color: #ddd;
}
.new-product ul li p {
    font-size: 14px;
    float: left;
}
.new-product ul li i{
    font-size: 13px;
    color: #999;
    font-style: normal;
    display: block;
    line-height: 22px;
}
.new-product ul li span {
    display: inline-block;
    color: #fff;
    background: #25af61;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    margin-top: 5px;
}
.hot-article {
    background: #fff;
    border-top: 1px solid #f1f1f1;
    line-height: 30px;
    padding: 3px 10px;
    width: 100%;
    float: left;
}
.hot-article span {
    font-size: 12px;
    display: inline-block;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.hot-article span i {
    font-size: 15px;
    margin-right: 5px;
    color: #25af61;
}
.hot-article ul li a {
    float: left;
    color: #333333;
    text-transform: uppercase;
    margin-right: 30px;
}
.hot-article ul li a:hover {
    color: #25af61;
}
.acolumn {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.acolumn .opt {
    width: 100%;
    margin-bottom: 15px;
}
.acolumn .opt:before,
.acolumn .opt:after {
    content: " ";
    display: table;
}
.acolumn .opt:after {
    clear: both;
}
.acolumn .opt .link-post {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 40px;
}
.acolumn .opt .link-post:hover {
    border-bottom: 2px solid #25af61;
}
.acolumn .opt .active {
    border-bottom: 2px solid #25af61;
}
.acolumn .feature-post {
    float: right;
    position: relative;
}
.acolumn .feature-post a {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    display: block;
}
.acolumn .feature-post a i {
    margin-left: 5px;
}
.acolumn .feature-post ul {
    width: 160px;
    display: none;
    border-radius: 3px;
    padding: 7px 7px;
    background: #fff;
    position: absolute;
    right: -46px;
    top: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff;
    z-index: 9;
}
.acolumn .feature-post ul:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.acolumn .feature-post ul li a {
    margin-top: 0;
    color: #333333;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.acolumn .feature-post ul li a:hover {
    background: #25af61;
    color: #fff;
}
.acolumn .list-post {
    width: 100%;
}
.acolumn .list-post:before,
.acolumn .list-post:after {
    content: " ";
    display: table;
}
.acolumn .list-post:after {
    clear: both;
}
.acolumn .list-post li {
    width: 100%;
    float: left;
    background: #fff;
    padding: 0px 5px 5px 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.acolumn .list-post li .thumb {
    float: left;
    display: block;
    margin-right: 15px;
    width: 200px;
}
.acolumn .list-post li .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
}
.acolumn .list-post li .title:hover {
    color: #25af61;
}
.acolumn .list-post li p {
    margin-top: 5px;
    font-size: 13px;
    font-style: italic;
    line-height: 24px;
    text-align:justify;
}
.acolumn .list-post li .st-post-feature {
    float: right;
    position: relative;
}
.acolumn .list-post li .st-post-feature span {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}
.acolumn .list-post li .st-post-feature .st-fb {
    background: url('images/ico-more.png') no-repeat center center;
    width: 25px;
    height: 20px;
    cursor: pointer;
    float: left;
}
.acolumn .list-post li .st-post-feature .st-fb .overlay-fb {
    display: none;
    position: absolute;
    top: -75px;
    right: -46px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 3px;
}
.acolumn .list-post li .st-post-feature .st-fb .overlay-fb:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}
.acolumn .list-post li .st-post-feature .st-fb:hover .overlay-fb {
    display: block;
}
.acolumn .list-post li ul li {
    float: left;
    width: 200px;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 18px 0 0;
    height:195px;
}
.acolumn .list-post li ul li:last-child {
    margin-right: 0;
}

.acolumn .list-post li ul li a {
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
    height:38px;
}
.acolumn .list-post li ul li a:hover {
    color: #25af61;
}
.acolumn .list-post li ul li a:hover img {
    opacity: 0.8;
}
.bcolumn {
    margin-top: 15px;
    width: 370px;
    float: left;
}
.bcolumn .frm-search {
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 3px 5px;
    box-sizing: border-box;
}
.bcolumn .frm-search input[type="text"] {
    border: none;
    width: 88%;
    height: 30px;
}
.bcolumn .frm-search input[type="submit"],.bcolumn .frm-search input[type="button"] {
    background: url('images/ico-search.png') no-repeat center center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.bcolumn .frm-sign-up {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 15px 0 10px 0;
}
.bcolumn .frm-sign-up h4 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 15px;
}
.bcolumn .frm-sign-up .btn-sign-up,
.bcolumn .frm-sign-up .btn-sign-in {
    color: #fff;
    background: #25af61;
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 8px 0;
    font-size: 18px;
}
.bcolumn .frm-sign-up .btn-sign-up:hover,
.bcolumn .frm-sign-up .btn-sign-in:hover {
    opacity: 0.7;
}
.bcolumn .frm-sign-up .btn-sign-in {
    background: #ff6000;
}
.bcolumn .frm-sign-up .divide {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
    background: url('images/ico-divide.png') no-repeat center center;
}
.bcolumn .hot-topic {
    margin-top: 15px;
}
.bcolumn .hot-topic h3 {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.bcolumn .hot-topic ul li {
    margin-bottom: 15px;
}
.bcolumn .hot-topic ul li .numb {
    float: left;
}
.bcolumn .hot-topic ul li .numb > i {
    border-radius: 50%;
    background: #25af61;
    font-style: normal;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    font-weight: 700;
    display: block;
}
.bcolumn .hot-topic ul li .item {
    display: table-cell;
}
.bcolumn .hot-topic ul li .item a {
    font-size: 13px;
    color: #333333;
    display: block;
    margin-bottom: 5px;
}
.bcolumn .hot-topic ul li .item a:hover {
    color: #25af61;
}
.bcolumn .hot-topic ul li .item span {
    color: #999;
}
.bcolumn .hot-topic ul li:last-child {
    text-align: center;
    background: url('ico-solid-dot.png') repeat-x center left;
}
.bcolumn .hot-topic ul li:last-child a {
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
    background: #F2F1F1;
    display: inline-block;
    padding: 0 10px;
}
.bcolumn .hot-topic ul li:last-child a:hover {
    color: #25af61;
}
.bcolumn .st-fun h3 {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.bcolumn .st-fun ul li {
    margin-bottom: 15px;
}
.bcolumn .st-fun ul li:before,
.bcolumn .st-fun ul li:after {
    content: " ";
    display: table;
}
.bcolumn .st-fun ul li:after {
    clear: both;
}
.bcolumn .st-fun ul li .thumb {
    float: left;
    margin-right: 20px;
}
.bcolumn .st-fun ul li .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    display: block;
}
.bcolumn .st-fun ul li .title:hover {
    color: #25af61;
}
.bcolumn .st-fun ul li span {
    color: #999;
}
.bcolumn .st-fun ul li:last-child {
    text-align: center;
    background: url('images/ico-solid-dot.png') repeat-x center left;
}
.bcolumn .st-fun ul li:last-child a {
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
    background: #F2F1F1;
    display: inline-block;
    padding: 0 10px;
}
.bcolumn .st-fun ul li:last-child a:hover {
    color: #25af61;
}
.filter {
    margin-top: 20px;
    background: #25af61;
    padding: 30px;
    position: relative;
    float: left;
    width: 100%;
}
.filter h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.filter .close-filter {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.filter .close-filter i {
    color: #fff;
    font-size: 14px;
}
.filter form input[type="button"] {
    width: 255px;
    height: 37px;
    border: 1px solid #67c791;
    color: #fff;
    background: url('images/ico-down.png') no-repeat 95% 50%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    text-indent: 10px;
}
.filter form .op-group {
    float: left;
    position: relative;
    width: 255px;
    margin-right: 10px;
}
.filter form .op-group ul {
    background: #fff;
    border-radius: 3px;
    float: left;
    padding: 15px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    display: none;
}
.filter form .op-group ul li {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 13px;
}
.filter .op-group ul li label {
    cursor: pointer;
}
.filter .op-group ul li label input {
    margin-right: 10px;
}
.filter input[type="submit"] {
    border: none;
    background: #ff6600;
    color: #fff;
    font-size: 14px;
    padding: 9px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.post {
    background: #fff;
}
.post img {
    margin: 5px auto;
    display: block;
}
.post h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    padding: 15px 20px;
}
.post .quote {
    color: #666;
    font-size: 14px;
    font-style: italic;
    padding: 0 20px;
    text-align: justify;
}
.post p {
    padding: 5px 20px;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.post ul li {
    list-style-type:disc;
    margin-left: 38px;
}
.post ol li {
    list-style-type:decimal;
    margin-left: 38px;
}

.post-2 > div, .post-2 span {
    /*padding: 5px 20px;*/
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding: 0 20px;
}
.post h4 {
    background: #f5f5f5;
    border-left: 3px solid #25af61;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    text-indent: 25px;
    margin-top: 15px;
}
.rate {
    background: #fff;
}
.rate:before,
.rate:after {
    content: " ";
    display: table;
}
.rate:after {
    clear: both;
}
.rate h4 {
    background: #25af61;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-indent: 20px;
    line-height: 40px;
}
.rate .col {
    width: 43%;
    float: left;
    margin: 10px 20px;
}
.rate .col h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
}
.rate .col ul li {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.rate .col ul li span {
    font-size: 13px;
}
.rate .col ul li p {
    display: block;
}
.rate .col ul li .bar {
    border-radius: 4px;
    background: #ebebeb;
    height: 8px;
    width: 100%;
    float: left;
    margin-top: 5px;
}
.rate .col ul li .bar div {
    height: 8px;
    border-radius: 4px;
}
.rate .col ul li .bar .color-1 {
    background: #25af61;
}
.rate .col ul li .bar .color-2 {
    background: #ff6d00;
}
.rate .col ul li .bar .color-3 {
    background: #fdd835;
}
.rate .col ul li .bar .color-4 {
    background: #aeea00;
}
.rate .col ul li .bar .color-5 {
    background: #b2dfdb;
}
.tag {
    margin:5px 0;
    background-color: #fff;
    padding: 10px 0 10px 10px;
}
.tag:before,
.tag:after {
    content: " ";
    display: table;
}
.tag:after {
    clear: both;
}
.tag span {
    font-size: 12px;
    float: left;
    line-height: 30px;
}
.tag ul li a {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    padding: 5px 10px;
    color: #333333;
    font-size: 12px;
    display: block;
    float: left;
    margin-left: 10px;
}
.tag ul li a:hover {
    background: #25af61;
    color: #fff;
    border-color: #25af61;
}
.same-product {
    border-top: 2px solid #25af61;
    background: #fff;
    padding-bottom: 20px;
}
.same-product:before,
.same-product:after {
    content: " ";
    display: table;
}
.same-product:after {
    clear: both;
}
.same-product h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    margin-left: 20px;
}
.same-product ul {
    margin-left: 20px;
    margin-top: 10px;
}
.same-product ul li {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.same-product ul li a {
    display: block;
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    font-weight: 600;
}
.same-product ul li:nth-child(3) {
    margin-right: 0;
}
.detail-product {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}
.detail-product:before,
.detail-product:after {
    content: " ";
    display: table;
}
.detail-product:after {
    clear: both;
}
.detail-product .acolumn-product {
    float: left;
    width: 37%;
    margin-right: 20px;
}
.detail-product .acolumn-product h3 {
    font-size: 16px;
    margin-top: 10px;
}
.detail-product .acolumn-product .related-post {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
.detail-product .acolumn-product .related-post h4 {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.detail-product .acolumn-product .related-post ul li {
    margin-bottom: 10px;
}
.detail-product .acolumn-product .related-post ul li a {
    font-style: italic;
    color: #333333;
}
.detail-product .acolumn-product .related-post ul li a i {
    font-size: 5px;
    color: #25af61;
    margin-right: 5px;
}
.detail-product .bcolumn-product {
    width: 59%;
    float: left;
}
.detail-product .bcolumn-product h3 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.detail-product .bcolumn-product ul li ,.left-hide-compare-product ul li, .right-hide-compare-product ul li{
    border-bottom: 1px dotted #e5e5e5;
    font-size: 13px;
    float: left;
    width: 100%;
    padding: 15px 0;
}
.detail-product .bcolumn-product ul li .title {
    float: left;
    width: 30%;
    font-weight: 600;
}
.detail-product .bcolumn-product ul li .description {
    width: 70%;
    float: left;
}

.detail-product .bcolumn-product a, .left-hide-compare-product a,.right-hide-compare-product a,.news_detail_compare {
    width: 100%;
    border: 1px solid #d7d7d7;
    background: #f7f7f7;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    color: #333333;
}
.detail-product .bcolumn-product a i {
    margin-right: 5px;
}
.detail-product .bcolumn-product a:hover, .left-hide-compare-product a:hover, .right-hide-compare-product a:hover {
    background: #25af61;
    color: #fff;
    border-color: #25af61;
}
.block-question,
.block-post,
.block-fun-tech {
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 15px 0;
}
.block-question span,
.block-post span,
.block-fun-tech span {
    float: left;
    margin-left: 30px;
}
.block-question span i,
.block-post span i,
.block-fun-tech span i{
    color: #ff6600;
    font-size: 28px;
}
.block-question p,
.block-post p,
.block-fun-tech p
{
    font-size: 14px;
    font-weight: 300;
    display: inline;
    line-height: 34px;
}
.block-question a,
.block-post a,
.block-fun-tech a {
    float: right;
    background: #25af61;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    display: block;
    border-radius: 3px;
    margin-right: 100px;
}
.block-question a:hover,
.block-post a:hover,
.block-fun-tech a:hover
{
    opacity: .9;
}
.block-post a {
    background: #039be5;
}
.compare-product {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}
.compare-product h3 {
    font-size: 14px;
    font-weight: 400;
}
.compare-product h3 i {
    font-size: 16px;
    color: #f29a44;
    margin-right: 10px;
}
.compare-product .st-product {
    margin-left: 276px;
    position: relative;
}
.compare-product .st-product .vs {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-weight: 700;
    color: #999;
    font-size: 18px;
    border: 1px solid #efefef;
    text-align: center;
    line-height: 41px;
    display: inline-block;
    float: left;
    left: 40.4%;
    position: absolute;
    top: 100px;
    background: #fff;
}
.compare-product .st-product .item-compare {
    width: 300px;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #ebebeb;
    padding-bottom: 15px;
}
.compare-product .st-product .item-compare img {
    display: inline-block;
}
.compare-product .st-product .item-compare h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.left-hide-compare-product, .right-hide-compare-product{text-align: left!important;}
.left-hide-compare-product a,.right-hide-compare-product a{padding: 8px!important;border-radius: 5px!important;font-size: 14px!important;}
.compare-product .st-product .item-compare a {
    border-radius: 15px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    color: #333333;
}
.compare-product .st-product .item-compare a:hover {
    background: #25af61;
    color: #fff;
    border-color: #25af61;
}
.compare-product .info-product {
    margin: 0 0 0 75px;
}
.compare-product .info-product:before,
.compare-product .info-product:after {
    content: " ";
    display: table;
}
.compare-product .info-product:after {
    clear: both;
}
.compare-product .info-product table {
    border: 1px solid #ebebeb;
    border-collapse: collapse;
    text-align: left;
}
.compare-product .info-product table th {
    background: #f5f5f5;
    line-height: 45px;
    font-size: 15px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-weight: 500;
    width: 200px;
}
.compare-product .info-product table td {
    font-size: 13px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    padding-right: 10px;
    width: 300px;
}
.compare-product .info-product table td p {
    display: block;
}
.acolumn .list-post li .st-post-feature .st-fb-2 {
    cursor: pointer;
    float: left;
}
.bcolumn .frm-search input[type="text"] {
    float:left;
}

/* update detail */
.st-compare  {
    margin-top:15px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.st-compare .col {
    width:45%;
    float:left;
    margin-left:20px;
}

.st-compare .poll {
    width:94%;
    float:left;
    margin-left:20px;
}

.st-compare .col h5 {
    background:#25AF61;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color:#fff;
    font-weight:700;
    line-height:30px;
    font-size:15px;
    text-align:center;
}
.st-compare .col:nth-child(2) h5{
    background:#FF6100;
}
.st-compare .col ul {
    border-left:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    border-bottom:1px solid #E0E0E0;
    padding:10px;
}

.st-compare .poll ul {
    border: none;
    padding: 0;
}

.st-compare .col ul li {
    line-height:25px;
}
.post img {max-width:100%}
.filter form input.btn-sbm-order {
    background:#ddd;
    border:none;
    font-size:12px;
    height:auto;
    padding:5px 8px;
    text-align:center;
    text-indent:0;
    float:right;
    width:auto;
}
.bcolumn .frm-search input[type="text"] {
    width:170px;
}
.bcolumn .frm-search select {
    border:none;
    float:left;
    margin-top:5px;
}
.bcolumn .frm-search {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.bcolumn .frm-search input[type="submit"] {
    float:right;
}
.bcolumn .frm-sign-up {
    clear: both;
}

.hide-compare-product, .left-hide-compare-product, .right-hide-compare-product {
    display: none;
    clear: both;
    padding: 10px;
    width: 100%;
    background: #f7f7f7;
}
.hide-compare-product input[type="text"], .left-hide-compare-product input[type="text"], .right-hide-compare-product input[type="text"]{
    width: 90%;
    border:1px solid #dfdfdf;
    padding:6px;
    margin-top:5px;
}
.hide-compare-product span.btn-close-search, .left-hide-compare-product span.btn-close-search, .right-hide-compare-product span.btn-close-search {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}
.hide-compare-product .list-item ul li input[type="radio"], .left-hide-compare-product .list-item ul li input[type="radio"], .right-hide-compare-product .list-item ul li input[type="radio"] {
    float:right;
}
.hide-compare-product .list-item ul li label , .left-hide-compare-product .list-item ul li label, .right-hide-compare-product .list-item ul li label{
    cursor: pointer;
}
.rate-product {
    margin-top:10px;
}
.rate-product .title{font-weight: 600;font-size: 14px;margin: 15px 0 10px;border-bottom: 1px solid #e5e5e5;padding-bottom: 5px;text-align: right;}
.rate-product ul li  {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.rate-product ul li  p {
    display: block;
}
.rate-product ul li .bar {
    background: #ebebeb;
    border-radius: 4px;
    float: left;
    height: 8px;
    margin-top: 5px;
    width: 100%;
}
.rate-product ul li .bar div {
    border-radius: 4px;
    height: 8px;
}
.rate-product ul li .bar  .color-1 {
    background:#25af61 ;
}
.rate-product ul li .bar  .color-2 {
    background:#ff6d00;
}
.rate-product ul li .bar  .color-3 {
    background:#fdd835;
}
.rate-product ul li .bar  .color-4 {
    background:#aeea00;
}
.rate-product ul li .bar  .color-5 {
    background:#b2dfdb ;
}
/* end update */

footer {
    background: #222428;
    color: #b0b0b0;
    padding-top: 30px;
    margin-top: 0px;
   	padding-bottom: 10px;
}
footer .main-menu {
    float: left;
}
footer .main-menu li {
    float: left;
    background: url('images/ico-divide-footer.png') no-repeat center right;
    padding-right: 10px;
    padding-left: 10px;
}
footer .main-menu li a {
    float: left;
    font-size: 12px;
    font-weight: 300;
    color: #b0b0b0;
}
footer .main-menu li a:hover {
    color: #fff;
}
footer .main-menu li:first-child {
    padding-left: 0;
}
footer .main-menu li:last-child {
    background: none;
}
footer .network {
    float: right;
}
footer .network li {
    float: left;
}
footer .network li a {
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 10px;
}
footer .network li a i {
    font-size: 16px;
}
footer .network li a:hover {
    color: #fff;
}
footer .network li:last-child {
    background: url('images/ico-divide-footer.png') no-repeat center left;
    margin-left: 10px;
}
footer p {
    width: 100%;
    border-top: 1px solid #454545;
    float: left;
    line-height: 40px;
    margin-top: 20px;
    font-size: 12px;
    float: left;
}
footer p:before,
footer p:after {
    content: " ";
    display: table;
}
footer p:after {
    clear: both;
}
.m-menu {
    display: none;
    left: 18px;
    position: absolute;
    top: 19px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.m-menu i {
    font-size: 20px;
}
.m-menu:hover i {
    color: #25af61;
}
#m-nav {
    position: fixed;
    left: -320px;
    top: 0;
    height: 100%;
    z-index: 100;
    transition: all 0.3s ease 0s;
    background: #25af61;
    width: 320px;
    padding: 40px 20px;
    box-sizing: border-box;
}
#m-nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}
#m-nav ul li:last-child {
    border-top: 1px solid #23c268;
    text-align: center;
}
#m-nav ul li:last-child a {
    font-size: 14px;
    background: #12d567;
    border-radius: 3px;
    padding: 0px 0px;
    width: 100%;
    display: block;
    margin-top: 10px;
}
.overlay-nav {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 80;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.close-menu i {
    font-size: 20px;
    color: #fff;
}
.frm-overlay-sign-up,
.frm-overlay-sign-in {
    position: fixed;
    top: 120px;
    left: 40%;
    width: 320px;
    text-align: center;
    display: none;
    z-index: 20;
}
.frm-overlay-sign-up h3,
.frm-overlay-sign-in h3 {
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.frm-overlay-sign-up input[type="text"],
.frm-overlay-sign-in input[type="text"],
.frm-overlay-sign-up input[type="password"],
.frm-overlay-sign-in input[type="password"] {
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 10px;
    color: #999;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
}
.frm-overlay-sign-up input[type="submit"],.frm-overlay-sign-up input[type="button"],
.frm-overlay-sign-in input[type="submit"],.frm-overlay-sign-in input[type="button"] {
    border-radius: 3px;
    background: #25af61;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}
.frm-overlay-sign-up input[type="submit"]:hover,.frm-overlay-sign-up input[type="button"]:hover,
.frm-overlay-sign-in input[type="submit"]:hover,.frm-overlay-sign-in input[type="button"]:hover {
    opacity: .9;
}
.frm-overlay-sign-up .divide,
.frm-overlay-sign-in .divide {
    background: url('images/ico-divide-frm.png') repeat-x center center;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px 0;
}
.frm-overlay-sign-up .divide span,
.frm-overlay-sign-in .divide span {
    display: inline-block;
}
.frm-overlay-sign-up .btn-fb,
.frm-overlay-sign-in .btn-fb,
.frm-overlay-sign-up .btn-gg,
.frm-overlay-sign-in .btn-gg {
    background: #3b5998;
    color: #fff;
    padding: 10px 0;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.frm-overlay-sign-up .btn-fb i,
.frm-overlay-sign-in .btn-fb i,
.frm-overlay-sign-up .btn-gg i,
.frm-overlay-sign-in .btn-gg i {
    font-size: 15px;
    margin-right: 5px;
}
.frm-overlay-sign-up .btn-fb:hover,
.frm-overlay-sign-in .btn-fb:hover,
.frm-overlay-sign-up .btn-gg:hover,
.frm-overlay-sign-in .btn-gg:hover {
    opacity: .9;
}
.frm-overlay-sign-up .btn-gg,
.frm-overlay-sign-in .btn-gg {
    background: #4184f3;
}
.frm-overlay-sign-up .close-overlay-sign-up,
.frm-overlay-sign-in .close-overlay-sign-up,
.frm-overlay-sign-up .close-overlay-sign-in,
.frm-overlay-sign-in .close-overlay-sign-in {
    position: absolute;
    top: -30px;
    right: -50px;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.frm-overlay-sign-up .close-overlay-sign-up i,
.frm-overlay-sign-in .close-overlay-sign-up i,
.frm-overlay-sign-up .close-overlay-sign-in i,
.frm-overlay-sign-in .close-overlay-sign-in i {
    font-size: 20px;
    color: #999;
}
.overlay-frm-sign-up,
.overlay-frm-sign-in {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
    display: none;
    z-index: 10;
}
.frm-overlay-sign-in .st-group {
    padding: 10px 0;
}
.frm-overlay-sign-in .st-group label {
    cursor: pointer;
    float: left;
}
.frm-overlay-sign-in .st-group a {
    float: right;
    color: #333333;
}
.frm-overlay-sign-in .st-group a:hover {
    color: #25af61;
    text-decoration: underline;
}
.holder-product {
    margin-left: 20px;
    width: 100%;
    height: 134px;
}
.holder-product ul li a.title {
    color: #333;
    border: none;
    position: absolute;
    width: 145px;
    height: 22px;
    overflow: hidden;
}
.paging {
    text-align: center;
    margin-top: 10px;
}
.paging ul li {
    display: inline-block;
    margin-right: 5px;
}
.paging ul li a {
    color: #333333;
    background: #fff;
    padding: 3px 8px;
    border-radius: 3px;
    display: inline-block;
}
.paging ul li a:hover,
.paging ul li a .active {
    background: #25af61;
    color: #fff;
}
.m-frm-search {
    display: none;
}
/* new product */
.list-new-product {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.list-new-product li{
    background: #fff;
    width: 31%;
    margin-right: 15px;
    margin-top: 15px;
    float: left;
    padding:10px;
    transition: all .3s ease-out ;
}
.list-new-product li:hover {
    -webkit-box-shadow: 1px 1px 10px 5px #ddd;
    box-shadow: 1px 1px 10px 5px #ddd;
}

.list-new-product li a {
    display: block;
}

.list-new-product li a img {
    max-width: 100%;
}

.list-new-product li p {
    font-weight: 600;
}
.list-new-product li .info {
    margin-top: 5px;
}

.list-new-product li .info span {
    float:left;
    color: #999;
}
.list-new-product li .info .socail {
    float:right;
}

.list-new-product li a.title {
    font-size: 16px;
    color:#25af61 ;
    font-weight: 600;
    margin:8px 0;
    height:46px;
}
.slide-new-product {
    display: none;
}
.list-video {
    margin-top:10px;
}
.op-list-video {
    text-align: right;
    font-size: 16px;
    position: absolute;
    z-index: 1000;
    top:0;
    right:5px;

}
.op-list-video a{
    padding:4px;
    display: inline-block;
    color:#25AF61;
}

.acolumn .list-post li {
    position: relative;
}
.swiper-video {
    display: none;
}

.wrap-video {
    width:100%;
    clear:both;
    padding:0 20px;
}
.video-embed {
    height: 0;
    padding-bottom: 55%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

}

.video-embed  iframe,
.video-embed  object {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.post ul li {
    font-size:14px;
}

.advantage, .list_poll{font-size: 14px;}
/* update style hot news*/
.hit-news {
    margin-top: 10px;
}
.main-item {
    float: left;
    width: 500px;
    margin-right: 5px;
    position: relative;
}
.main-item h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #25af61;
    width: 100%;
    padding: 7px;
}

.main-item h2 a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.main-item .item-img {
    display: block;
}
.main-item .item-img img {
    max-width: 100%;
    width: 100%
}

.sub-item {
    float: left;
    width: 495px;
}

.sub-item .row-item {
    margin-bottom: 5px;
    float:left;
    width: 100%;
}

.sub-item .row-item .item {
    width: 49.4%;
    float: left;
    position: relative;
}
.sub-item .row-item .item:first-child {
    margin-right: 5px;
}
.sub-item .row-item .item a img{max-width: 100%;width: 100%;}
.sub-item .row-item .item h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(84,84,84,.9);
    width: 100%;
    padding: 7px;
    line-height: 18px;
}

.sub-item .row-item .item h2 a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;

}
.mb-hitnews {
    display: none;
}
.mb-hitnews .swiper-slide {
    background: none;
    padding: 0;
}
.mb-hitnews .swiper-slide h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: left;
    font-weight: 500;
}
.mb-hitnews .swiper-slide h2 a {
    color: #fff;
}
.mb-hitnews .swiper-slide  a img {
    width:100%;
}

@media screen and (max-width: 1024px) {
    #top-nav .main-nav ul {
        margin-left: 150px;
    }
    #top-nav .main-nav ul li a {
        margin-right: 20px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1023px) {
    .container {
        width: 100%;
    }
    .m-menu {
        display: block;
    }
    #top-nav .brand {
        left: 45%;
    }
    .main-nav {
        display: none;
    }
    .st-hot-news ul li .img-gradient {
        bottom: 0;
    }
    .st-hot-news ul li:nth-child(4),
    .st-hot-news ul li:nth-child(5) {
        display: none;
    }
    .st-hot-news ul li:nth-child(1),
    .st-hot-news ul li:nth-child(2) {
        margin-right: 7px;
    }
    .st-hot-news ul li:nth-child(1) {
        margin-left: 22px;
    }
    .st-hot-news ul li:nth-child(2) {
        margin-bottom: 5px;
    }
    .acolumn .list-post li .st-post-feature {
        margin-right: 20px;
        margin-top: 7px;
    }
    .acolumn .list-post li {
        padding: 20px 15px 10px;
    }
    .new-product {
        padding-bottom: 20px;
    }
    .new-product ul li {
        width: 33%;
    }
    .new-product ul li p,
    .new-product ul li a {
        float: none;
        display: block;
    }
    .new-product ul li a {
        text-align: center;
    }
    .new-product ul li p {
        margin-top: 5px;
    }
    .bcolumn {
        display: none;
    }
    .acolumn {
        width: 100%;
    }
    footer .main-menu {
        float: none;
        text-align: center;
        width: 100%;
    }
    footer .main-menu li {
        display: inline-block;
        float: none;
    }
    footer .network {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    footer .network li {
        float: none;
        display: inline-block;
    }
    footer p {
        text-align: center;
    }
    .main-item {
        width: 50%;
    }
    .sub-item {
        width: 49%;
    }
}
@media screen and (max-width: 768px) {
    .filter form .op-group {
        margin-top: 5px;
    }
    .filter input[type="submit"] {
        margin-top: 6px;
    }
    .block-question span,
    .block-post span {
        display: none;
    }
    .block-question a,
    .block-post a {
        float: none;
        display: inline-block;
        margin-right: 0;
    }
    .block-question p,
    .block-post p {
        display: block;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .compare-product .info-product,
    .compare-product .st-product {
        margin: 0;
    }
    .compare-product .st-product .vs {
        left: 46.7%;
    }
    .compare-product .st-product .item-compare {
        border-right: none;
        width: 50%;
    }
    .compare-product .info-product table {
        margin: 0 auto;
    }
    .compare-product .info-product table th {
        display: none;
    }
    .compare-product .info-product table td {
        width: 50%;
        padding: 10px;
        border-right: none;
        border-left: none;
    }
    .compare-product .info-product table td p {
        display: block;
        font-size: 13px;
        font-weight: 700;
    }
    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 30%;
    }
    .holder-product {
        margin-left: 10px;
    }
    .acolumn .feature-post ul {
        right: 0;
    }
    .acolumn .feature-post ul:before {
        left: 90%;
    }
    .acolumn {margin-right: 0;}
    .sub-item,.main-item {width: 100%}
    .sub-item {
        margin-top: 5px;
    }
}
@media screen and (max-width: 767px) {

    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 30%;
    }

    .socail-network,
    .acolumn .feature-post {
        display: none;
    }
    .acolumn .list-post li ul li {
        width: 46%;
        margin-right: 30px;
    }
    .acolumn .list-post li ul li a img {
        width: 100%;
    }
    .acolumn .list-post li ul li:nth-child(2) {
        margin-right: 0;
    }
    .acolumn .list-post li ul li:nth-child(3) {
        display: none;
    }
    .st-hot-news ul li:nth-child(2),
    .st-hot-news ul li:nth-child(3) {
        display: none;
    }
    .st-hot-news ul li:nth-child(1) {
        float: none;
        margin: 0;
    }
    .st-hot-news ul li:nth-child(1) a {
        text-align: center;
        overflow: hidden;
    }
    .st-hot-news ul li:nth-child(1) a img {
        width: 100%;
    }
    .st-hot-news ul li:nth-child(1) a .description {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }
    .hot-article span {
        float: none;
        display: block;
    }
    .same-product ul li {
        width: 100%;
        margin-bottom: 10px;
    }
    .same-product ul li a {
        display: inline-block;
        vertical-align: top;
    }
}
@media screen and (max-width: 600px) {

    .adv-review{display: none;}

    .slide-new-product {
        display: block;
        margin: 10px 15px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .slide-new-product .description {
        height: 53px;
        overflow: hidden;
    }

    .swiper-slide {
        padding: 20px;
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    .swiper-slide a .description h3  {
        color:#333;
        font-size: 16px;
    }
    .swiper-slide a .description {
        margin-top: 10px;
    }

    .swiper-slide a img {
        max-width: 100%;
    }

    .swiper-video {
        display: block;
        margin: 10px 15px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .swiper-video .title{
        font-size: 14px;
        color: #000;
        font-weight: bold;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .rate .col {
        width: 42%;
    }

    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 20%;
    }
    .m-frm-search {
        background: #fff;
        border: 1px solid #e1e1e1;
        box-sizing: border-box;
        padding: 3px 5px;
        margin-top:10px;
        display: block;
    }
    .m-frm-search input[type="text"] {
        padding: 5px;
        width:72%;
        border:1px solid #ccc;
    }
    .m-frm-search select {
        width:20%;
    }
    .m-frm-search input[type="button"] {
        background: url('images/ico-search.png') no-repeat center center;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        float:right;
    }
    .list-new-product li {
        width: 45%;
        margin-right: 22px;
    }
    .st-hot-news {
        display: none;
    }
    #slide_new_product {
        position: relative;
        margin: 0 auto;
        height: 380px;
        overflow: hidden;
        width: 100%;
        padding: 10px;
    }

    #slide_new_product .item-slides {
        cursor: move; position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 370px;
        overflow: hidden;

    }

    #slide_new_product .item-slides .item {
        overflow: hidden;
        padding: 10px;
        box-sizing: border-box;
    }

    #slide_new_product .item-slides .item a {
        color:#333;
        text-align: center;
        display: block;
    }
    #slide_new_product .item-slides .item a img {
        max-width: 100%;
        margin: 0 auto;
    }
    .list-video,.op-list-video {
        display: none;
    }

}
@media screen and (max-width: 480px) {
    #slide_new_product .item-slides .item {
        padding: 20px;
    }
    .m-search {
        float:right;
        display: block;
        color: #333;
        margin:20px 20px 0 0;
    }
    .m-search i {
        font-size: 20px;
    }

    .new-product {
        display: none;
    }
    #top-nav .brand {
        left: 35%;
    }
    .rate .col {
        width: 90%;
    }
    .post h3 {
        font-size: 22px;
    }
    .detail-product .acolumn-product {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .detail-product .bcolumn-product ul li .title,
    .detail-product .bcolumn-product ul li .description {
        width: 100%;
    }
    .detail-product .bcolumn-product ul li .title {
        margin-bottom: 10px;
    }
    .detail-product .bcolumn-product {
        width: 100%;
    }
    .block-question p,
    .block-post p {
        padding: 0 10px;
    }
    .compare-product .st-product .item-compare img {
        max-width: 100%;
    }
    .compare-product .st-product .item-compare h4 {
        height: 40px;
        font-size: 16px;
    }
    .compare-product .st-product .vs {
        display: none;
    }

    .st-compare {
        padding: 10px;
    }

    .st-compare .col {
        margin-left:0;
        width:100%;
    }
    .m-frm-search input[type="text"] {
        width:65%;
    }
    /*update style */
    .swiper-slide a .description h3 {
        font-size:18px;
    }
    .acolumn .list-post li .title {
        font-size: 20px;
        line-height: 28px;
    }
    .acolumn .list-post li p,.hot-article span ,.hot-article ul li a{
        font-size:14px;
    }
    .post p {
        font-size: 14px;
        line-height: 24px;
    }

    .tag ul li a {
        margin-bottom:5px;
    }
    .post ul li {
        font-size:14px;
    }

    .advantage,.list_poll{font-size: 14px;}
    .post .quote{font-size: 14px;}
    .list_poll .title_poll{width:52%;}
    .mb-hitnews {
        display: block;
        padding-bottom: 35px;
    }
    .hit-news {
        display: none;
    }
    #top-nav {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 414px) {
    .sub-item .row-item .item {
        width: 100%;
    }

}
@media screen and (max-width: 375px) {

    .acolumn .list-post li ul li {
        display: none;
    }
    .acolumn .list-post li .thumb {
        float: none;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .acolumn .list-post li .thumb {
        width:100%;
    }
    .acolumn .list-post li .thumb img {
        width: 100%;
        height: auto;
    }
    .same-product ul {
        margin-left: 0;
    }
    .same-product ul li {
        text-align: center;
        float: none;
    }
    .same-product ul li a {
        display: block;
    }
    .filter form .op-group {
        margin-right: 0;
        width: 100%;
    }
    .filter input[type="button"],
    .filter input[type="submit"] {
        width: 100%;
    }
    .compare-product .st-product .vs {
        display: none;
    }
    .compare-product .st-product .item-compare h4 {
        font-size: 14px;
    }
    .compare-product h3 {
        padding-bottom: 10px;
    }
    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 7%;
    }
    .frm-overlay-sign-up .close-overlay-sign-up,
    .frm-overlay-sign-in .close-overlay-sign-in {
        right: -8px;
        top: -51px;
    }
    .list-new-product li {
        width: 100%;
        margin-right: 0px;
    }

    .list-new-product li a {
        text-align: center;
    }

    .list-new-product li a.title {
        text-align: left;
    }
}
@media screen and (max-width: 360px) {
    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 6%;
    }
    #slide_new_product .item-slides {
        width: 360px;
    }
}
@media screen and (max-width: 320px) {
    .compare-product .st-product .item-compare a {
        font-size: 10px;
    }
    .frm-overlay-sign-up,
    .frm-overlay-sign-in {
        left: 0%;
        padding: 15px;
    }
    .frm-overlay-sign-up .close-overlay-sign-up,
    .frm-overlay-sign-in .close-overlay-sign-in {
        right: 10px;
        top: -41px;
    }
    .sub-item .row-item .item {
        width: 49%;
    }
}

/*========================================================================*/
.usercp li a {
    float: left;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-top: -9px;
}

.new-product ul li p{width: 150px;margin-top: -20px;}

.paging-item{
}

.paging-item .current{
    padding: 3px 9px;
    color: #fff;
    margin: 1px 0px 9px 6px;
    display: block;
    text-decoration:none;
    float: left;
    text-transform: capitalize;
    background-color: #25af61;
    font-size: 14px;
    border-radius:3px;
}

.paging-item .page-numbers{
    padding: 3px 9px;
    color: #333!important;
    margin: 1px 0px 9px 6px;
    display: block;
    text-decoration:none;
    float: left;
    text-transform: capitalize;
    background-color: #fff;
    font-size: 14px;
    border-radius:3px;
}

.paging-item .page-numbers:hover{
    color: #fff!important;
    background-color: #25af61;
}

.paging-item .fs19{font-size: 19px;}

.filter .close-filter {
    cursor: pointer;
}

.cl-os-price{color: #27ae61;}
.get-poll{margin: 5px 0;}
.set-more-poll{font-size: 12px;cursor: pointer; color: #333;}
.no-item{text-align:center;padding:20px;font-size:14px;font-weight:bold; border: 1px solid #f00;margin: 10px 30px;border-radius:5px;background-color: #ffebe8; color: #f00;}
.news_detail_compare{width: 98%;margin:5px 5px 10px 5px}
.fb-comment{background-color: #fff;}
.post .page a{color: #333;padding-left:10px;}
.post .page a i{font-size: 25px;}
.fl{float: left;}
.fr{float: right;}
.c{clear:both;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.data-poll{background-color: #fff;padding-left: 50px;padding-bottom: 25px;}
.data-poll .title{font-size: 15px; text-transform: uppercase;font-weight: bold;margin-bottom: 10px;}
.data-poll .name{clear: left;font-size: 11px}
.data-poll .point{font-size: 11px;margin-left: 5px;margin-top:7px;}
.data-poll .full{height: 20px;width: 90%;background-color: #e6e6e6;position: relative;clear: left;}
.data-poll .full .percent{position: absolute;height: 20px;top: 0;left: 0;}
.btn-accept-vote{cursor: pointer; width: 80px;padding: 5px 0;background-color: #4c67a5; color: #fff;border-radius: 5px; text-align: center;margin-top:40px;}
.data-poll .rd{float: left; position: absolute; left: -20px; top: 3px; cursor: pointer;}
.developer{color:#b0b0b0;}
.developer:hover{color:#fff}
._none{display: none;}
.post .source_content{float: right;padding:20px;font-weight: bold;color: #333;text-transform: uppercase;}
.post .author{float: right;font-weight: bold;font-size: 13px;padding: 10px 20px 10px 10px;color: #333;}
.post .author span{padding: 0  10px;}
.fb-detail{padding:10px;background-color: #fff;}
.same-price{width: 100%;position: relative;background-color: #fff;padding-bottom: 30px;}
.same-price h3{padding: 10px;text-transform: uppercase;}
.same-price a{color: #333}
.same-price ul li{text-align: center;margin-left:20px;}
.swiper-slide {
    display:block;
}
.compare-product .info-product-news{margin-left: 0px;}
.compare-product .info-product-news table th{width: 125px;}
.compare-product .info-product-news .name-item{text-align: center;padding: 10px 5px; font-weight: bold;font-size: 14px;}
.advantage,.list_poll{padding: 5px 5px 5px 20px;border: 1px solid #ccc;line-height: 25px;}
.list_poll{padding:10px;line-height: 25px;float: left;width: 100%;}
.list_poll a{color: #333;}
.list_poll a:hover{color: #25af61;}
.pd15{padding-bottom:15px;}
.ml10{margin-left: 10px;}
.cp{cursor: pointer;}
.vote-poll-news{float: right;width: 100px;margin-top: -5px;}
.swiper-pagination-bullet-active { background: #25AF61 !important;}