/* html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	background: #f2f1f1;
	margin: 0;
	font-family: arial
}
 */
body {
	margin: 0;
	background: #f2f2f2!important;
	color: #000;
	font-weight: 400;
	font-style: normal !important;
	font-size: 13px;
	/* font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif; */
	font-family: 'Open Sans', sans-serif;
	line-height: 1.42857;
	padding: 0px;
}

a {
	text-decoration: none
}

#menuThuoc {
	width: 500px;
	height: 200px;
}

.title {
/* 	margin-left:20%;
	margin-right:10%;	 */
}

.title ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 48%;
	border-right: 1px dotted #ccc;
	padding-right: 2%;
}


.wrap {
	padding-top: 22px;
	padding-right: 0px;
	padding-bottom: 22px;
	padding-left: 0px;
	height: 220px;
}

.wrap ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 48%;
	padding-right: 2%;
}

.category {
	float: left;
	text-align: center;
}

#addon {
	border: left: 1px dotted #ccc;
}

#addon img {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	 max-width: 100%;
    vertical-align: middle;
    border: 0;
}

#addon li {
	font-size: 20px;
}

article a {
	font-size: 20px;
}

.cut-top {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}

.container {
	position: relative;
}
/* Sections */
.section-padded {
/* 	padding: 140px 0 40px; */
}

.container {
	position: relative;
	z-index: 1;
}
/* Sections */
section {
	position: relative;
	background: #fff;
	padding : 0px; 
	margin:0px 0px 10px 0px;
}

.section {
	/* margin-bottom: 40px;
	padding: 20px 0; */
}

ul.nav.nav-pills.nav-stacked.affix {
    border: 1px solid #f3f3f3;
    border-radius:4px;
}
div .addOn {
	position: relative;
	margin-top: 100px;
}

ul .addOn {
	list-style: none;
}

.col-lg-3.addOn ul {
	list-style: none;
	font-size: 20px;
}

.col-lg-2.categories ul {
	list-style: none;
	font-size: 17px;
}

li:hover .col-lg-2 .thuocLienQuan {
	background: #cc33ff;
}

.tab-menu ul {
	list-style: none;
}

.tab-menu li {
	display: inline;
	margin-right: 30px;
}

.active-loaitimkiem {
	font-size: 20px;
	color:#721799;
	border-bottom: 2px solid #721799;
}

.toggle-filter {
	position: relative;
	padding-right: 20px;
	cursor: pointer;
}

.pull-right {
	float: right;
}

.tab-menu a {
	text-decoration: none;
}

.filter td, .filter th {
	border-top: none !important;
}

.tablefilter {
	position: relative;
	padding-right: 20px;
	cursor: pointer;
}

/* ul.list-group.scroll {
    overflow-y: scroll;
} */
ul.list-group.scroll {
    overflow: hidden;
}
ul.list-group.scroll:hover {
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ccc; 
}
.item-result {
	float: left;
	height: 270px;
	width: 25%;
	padding-left: 6px;
	padding-right: 6px;
	/* padding-bottom: 30px; */
	
}
.title-item-result {
	text-align: center
}

.item-result a {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI',
		Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight:200;
}

#pagination {
	
}

/* .list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom: 1px solid #dedede;
	font-size: 20px;
} */

.list-group-item {
/* 	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff; */
	border: 0px solid #ddd;
}



/* .dropdown .loaiThuoc a {
	font-size: 25px;
	color: #337ab7;
	text-decoration: none;
}


.dropdown .loaiThuoc li {
	margin-bottom: 20px;
} */

.item.timkiem {
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}

.numb i {
	border-radius: 50%;
	background: #25af61;
	font-style: normal;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 20px;
	color: #fff;
	font-weight: 700;
	display: block;
}

.list.sidebar {
	padding: 20px 0px 20px 40px;
}
/* .sidebar.fn-sidebar-fixed {
    max-height: 100%;
    overflow-y: scroll;
} */

.container {
	background: #fff;
	padding-right: 0px;
    padding-left: 0px;
}

.item-title a {
	font-size: 18px;
}

.loaiitem a {
	font-size: 14px;
}


a {
	color: #000;
}


.loaiitem a {
	color:#0000ff!important;
	
	
}

a:HOVER {
	color:#ff0000!important;
	text-decoration: none; 
}

.number-result {
	padding: 10px;
    background: #f6f6f6;
}
#pagination {
    margin: 2% 0 2% 0%;
}
 #pagination li a {
	padding: 8px 16px;
	border-radius: 5px;
} 
/* .sidebar-danhsach {
	max-height:800px;
	overflow-y: scroll;+
	
	
} */
.nhom-danh-sach a {
	color :#888;
	font-size:14px;
}
.active-loaidanhsach a {
	color:#721799!important;
	border-bottom: 2px solid #721799!important;
}

#pagination {
	float:right;
}
.sidebar-danhsach{
	    padding-top: 10px;
	/* overflow-y:scroll;
	width:100%; */
}
.item-result img {
	margin-top : 1vw;
	border-style: solid;
	border: 1px solid #ddd;
}
.loaidanhsach a {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}
.loaidanhsach li a:hover {
	background: #ecf0f1;
}
.nhomdanhsach a {
	font-size:14px;
	color: #888;
}
.loai-benh-nav  {
	float: left;
	 width: 31% ;
	 height:50px;
	 margin-left:2%;
	
	
}
.list-thuoc-nav li {
	float: left;
	 width: 31%;
	 margin-left:2%;
	
}
.list-thuoc-nav a {
    color: #000;
}
.loai-benh-nav a {
	/*  font-size: 20px!important;
	 color :#000; */
	color: #000;
	font-weight: 500!important;
	line-height: 35px;
	text-transform: uppercase;
	text-decoration: none;
}
.loaiThuoc a {
	
}
.nhomThuoc a {
	font-size: 14px;
	color: #000;
	font-weight: 100;

}
.dropdown.loaiThuoc  {
	float: left;
	 height:80px;
	 margin: 0 15px;
	 width:25%;
	 
}
.title-loai-thuoc a {
	font-size: 14px!important;
	color: #000;
	font-weight: 500!important;
	line-height: 35px;
	text-transform: uppercase;
	text-decoration: none;
}
.title-loai-thuoc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dropdown.loaiThuoc>.nhomThuoc a {
	
	font-size: 13px!important;
	color: #000;
	line-height: 35px;
}
.form-style label.required span {
    margin-left: 3px;
    color: #F00;
}

.form-style p span {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    color: #848991;
    margin-bottom:20px;
}
.form-style  {
	margin:20px 0 0 10px;
}
.form-style label {
	
    float: left;
    width: 17%;
    margin-right: 1%;
    margin-top: 9px;
}
#question-title {
	width:70%;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    padding: 8px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    color: #2f3239;
    border: 1px solid #dedede;
    -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    -o-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.form-style  select  {
	width:70%;
}
.form-style textarea {
	margin-top:30px;
	width:70%;
}
span.form-description {
	width: 80%;
    display: inline-block;
    margin-left: 18%;
}
.thong-bao-title {
	height:90px;
	width:100%;
	background: #f2f2f2;
	padding-top:30px;
	
}
.thong-bao-chu-de {
	width:100%;
	height:50px;
	border-bottom: 1px solid #dedede;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.thong-bao-chu-de a {
	margin:10px 10% 0 10%;
	color: #000;
}
.form-style p {
	margin:20px 0 10px;
}
.item-gop-y {
	height:60px;
	border-bottom: 1px solid #dedede;
}
.listnhieunhat {
	margin-left:10px;
}
/* .itemSection {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
} */
.list-loai-thuoc {
	float: left;
	 width: 30% ;
	 height:50px;
	 text-overflow: ellipsis;
    overflow: hidden;
    font-size:14px;
    text-transform: uppercase;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 0px;
}
#mucLuc {
	background-color: #E5F3FF !important;
    border: 1px solid #C2DCF3;
    clear: both;
    margin: 0 auto 20px auto;
    width: 60%!important;
}
.list-categories  a {
	color :#276dcc !important;
}
.list-categories li {
	margin-left:20px;
}
.title1 a {
	color: blue;
}
#thong-bao-title {
	height:60px;
	width:100%;	
	background: #f2f2f2;
	padding-top:20px;	
	
}
#list-thong-bao {
	width: 350px; height: 350px;
}
div#scrollthongbao {
    max-height: 200px;
     overflow: hidden;
}
div#scrollthongbao:HOVER {
    overflow-y: scroll;
}
.noidungdanhsach {
	height: 1000px;
}
input#trieuchungauto {
	font-style: normal;
    font-family: serif;
    width: 27%;
    height: 15px;
    margin: 10px 0px 10px 13vh;
    min-width: 32vh!important;
}
.danhsachtrieuchung {
    overflow-y: scroll;
    min-height: 70vh;
    border: solid 1px red;
    max-height: 70vh;
}
.timbenhtheotrieuchung {
	min-height: 100vh;
}
div#eac-container-trieuchungauto {
    margin-left: 13vh;
}
.huongdansudung {
	    margin: 20px 20px 0px 20px;
}
/* tab panel tin tức */
.tabPanel-widget {
	position: relative; /* containing block for headings (top:0) */
	background: #999;
}

.tabPanel-widget>label {
	position: absolute;
	z-index: 1;
}

.tabPanel-widget>label, .tabPanel-widget>h2 {
	font-size: 1.1em;
	width: 6.3em;
	height: 2em;
	line-height: 2em;
}

.tabPanel-widget>h2 {
	position: relative;
	margin: 0;
	text-align: center;
	background: #999;
	color: #fff;
}

.tabPanel-widget>label {
	border-right: 1px solid #fff;
}

.tabPanel-widget>label ~ label, .tabPanel-widget>h2 ~ h2 {
	position: absolute;
	top: 0;
}

.tabPanel-widget label:nth-child(1), .tabPanel-widget h2:nth-child(3) {
	left: 0em;
}

.tabPanel-widget label:nth-child(5), .tabPanel-widget h2:nth-child(7) {
	left: 6.3em;
}

.tabPanel-widget label:nth-child(9), .tabPanel-widget h2:nth-child(11) {
	left: 12.7em;
}

.tabPanel-widget input+h2+div {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 2px !important;
	overflow: hidden;
}

.tabPanel-widget input:checked+h2+div {
	position: static !important;
	padding: 1em !important;
	height: auto !important;
	width: auto !important;
}

.tabPanel-widget label:hover {
	cursor: pointer;
}

.tabPanel-widget>div {
	background: #E4E4E4;
	padding: 1em;
}

.tabPanel-widget input[name="tabs"] {
	opacity: 0;
	position: absolute;
}

.tabPanel-widget input[name="tabs"]:focus+h2 {
	outline: 1px dotted #000;
	outline-offset: 10px;
}

.tabPanel-widget:hover h2 {
	outline: none !important;
}

.tabPanel-widget input[name="tabs"]:checked+h2 {
	background: #333;
}

.tabPanel-widget input[name="tabs"]:checked+h2:after {
	content: '';
	margin: auto;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
}

@media screen and (max-width: 45em) {
	/* hide unecessary label/control pairs */
	.tabPanel-widget label, .tabPanel-widget input[name="tabs"] {
		display: none;
	}
	.tabPanel-widget>input+h2+div {
		display: block !important;
		position: static !important;
		padding: 1em !important;
		height: auto !important;
		width: auto !important;
	}
	.tabPanel-widget h2 {
		width: auto;
		position: static !important;
		background: #999 !important;
	}
	.tabPanel-widget h2:after {
		display: none !important;
	}
}
/* end panel tin tức */

/* CSYT */
.row.danhSachCSYT {
	margin: 20px;
}

.row.danhSachCSYT a {
	color: green;
}

/* 
input[type="submit"] {
	background: transparent;
	font-size: 18px;
	color: green;
	border: blue;
	height: 36px;
	width: 50px;
} */

#toTop {
	background: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 5px;
	bottom: 5vw;
	color: #333;
	cursor: pointer;
	display: none;
	font-size: 11px;
	padding: 18px;
	position: fixed;
	right: 10vh;
	text-align: center;
}

.bandonav {
	background: #fff;
	padding: 20px 2% 0;
}

#google-map {
	height: 89vh;
	width:100vw;
}

.map-icons {
	background:
		url('http://i892.photobucket.com/albums/ac123/satthuhoahong/icon_loction_yellow_zps9d39c5b7.png');
	display: block;
}

.map-icon-location-yellow {
	font-style: normal;
	font-weight: bold;
	color: #dc2303;
	font-size: 10px;
	text-indent: 0px;
	background-position: -87px -86px;
	width: 29px;
	height: 42px;
	text-align: center;
	line-height: 25px;
	color: #f99d1c;
}
.headercsyt select {
	float:left;
	width:15vw;
}
.headercsyt input[type="text"] {
	width:35vw;
	float:left;
}
#csytsubmit {
	
	color: green;
	float:left;
	margin-left: 30px;
}
.listDiaDiem {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}
.navbarcsyt {
	 padding-top: 1vh;
    height: 10vh;
    text-align: center;
    clear: both;
    margin: 0px 15vh 0px 15vh;;
   
}
.listresultcsyt {
	    position: absolute;
    left: 3%;
    top: 20vh;
    bottom: 2vh;
    width: 350px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    border-radius: 3px;
    background: 0 0;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #fff;
    overflow-y: scroll;
}
.listDiaDiem:FIRST-CHILD {
	background:#f3f3f3;
	height:50px;
	margin-left: 0px;
}
.thong-tin-thuoc {
	height:270px;
}
.item-title a {
	font-size: 18px;
	color:#000;
}
.sapxep-mua-thuoc{
	background:#f3f3f3;
	margin-bottom: 30px;
	
}
.sapxep-mua-thuoc p {
	float:left;
	margin-top:10px;
	margin-right:20px;
	
}
.thong-tin-thuoc a {
	color: blue;
	
}