html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	background: #f2f1f1;
	margin: 0;
	font-family: arial
}

a {
	text-decoration: none
}
#menuThuoc {
	width: 500px;height :200px;
}
.title{
	text-align:center;
	color: #00a8ff;
}
.title ul{
	padding: 0;
    margin: 0;
    list-style: none;
    width: 48%;
    border-right: 1px dotted #ccc;
    padding-right: 2%;
	
}


/*  ul{
	list-style: none;
	
} */

.wrap{
	padding-top: 22px;
    padding-right: 0px;
    padding-bottom: 22px;
    padding-left: 0px;
    height:220px;
    
}
.wrap ul{
	padding: 0;
    margin: 0;
    list-style: none;
    width: 48%;
    padding-right: 2%;
    
}


 .category {
	float:left;
	text-align: center;
	
}
#addon {
	border:left: 1px dotted#ccc;
}
#addon img {
	padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}
#addon li  {
	font-size:20px;
}
 article a {
	font-size:20px;
}
.cut-top{
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}
.section-padded {
	padding: 140px 0 40px;
}
.container {
	position: relative;
	z-index: 1;
}
/* Sections */
section {
	position: relative;
	background: #fff;
}

.section {
	margin-bottom: 40px;
	padding: 20px 0;
	
}
div .categories {
	position: relative;
	height:400px; overflow:hidden;
	margin-top: 100px;
}
div .addOn {
	position: relative;
	margin-top:100px;
}
ul .addOn{
	list-style:none;
}
.col-lg-3.addOn ul {
    list-style: none;
    font-size: 20px;
}
.col-lg-2.categories ul{
	list-style: none;
    font-size: 17px;
	
	
} 
li:hover .col-lg-2 .thuocLienQuan{
background: #cc33ff;
}
.tab-menu ul{
	list-style: none;
}
.tab-menu li{
	display:inline;
	margin-right:30px;
}
.active{
	    border-bottom: 2px solid #721799;
}
.toggle-filter {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}
.pull-right {
    float: right;
}
.tab-menu a{
	text-decoration: none; 
}
.filter td, .filter th {
   border-top: none !important; 
}
.tablefilter{
	    position: relative;
    padding-right: 20px;
    cursor: pointer;
}	
.list-group.scroll ul{
	position :fixed;
	overflow: scroll;	
}
.item-result {
	 float: left;
	height:300px;
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
}
.item-result a {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size:30px;
	
}
#pagination {

}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid #dedede;
    font-size:20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid #ddd;
}
.loaiThuoc a {
	font-size:20px;
	color: #cc0099;
	text-decoration: underline;
}
.dropdown .loaiThuoc a {
	font-size:25px;
	color:#337ab7;
	text-decoration: none;
}

.dropdown  div{
	float:left;	
	position:relative;
	width:240px;
	
}
.dropdown .loaiThuoc div {
	height:100px;
}
.dropdown .nhomThuoc div{
	height:50px;
}

.dropdown-li .loaiThuoc .nhomThuoc li {
	float:left;	
}
.dropdown .loaiThuoc li {
	margin-bottom: 20px;
}
.item.timkiem {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

